<header class="clearfix">

    <!-- Branding -->
    <div class="branding {{ main.settings.brandingColor }}">
        <a class="brand" ui-sref="app.dashboard">
            <span><strong>חבר</strong> לקשיש</span>
        </a>
        <a href="javascript:;" class="offcanvas-toggle visible-xs-inline" offcanvas-sidebar><i
                class="fa fa-bars"></i></a>
    </div>
    <!-- Branding end -->
    <!-- Left-side navigation -->
    <ul class="nav-left pull-left list-unstyled list-inline">
        <li class="sidebar-collapse divided-right">
            <a href="javascript:;" collapse-sidebar>
                <fa name="outdent"></fa>
            </a>
        </li>
        <li class="dropdown divided-right settings" uib-dropdown>
            <a href class="dropdown-toggle" uib-dropdown-toggle>
                <fa name="cog"></fa>
            </a>
            <ul class="dropdown-menu with-arrow animated littleFadeInUp" role="menu">
                <li>

                    <ul class="color-schemes list-inline">
                        <li class="title">Header Color:</li>
                        <li><a href="javascript:;" class="scheme-drank"
                               ng-click="main.settings.navbarHeaderColor='scheme-default'; $event.stopPropagation()"></a>
                        </li>
                        <li><a href="javascript:;" class="scheme-black"
                               ng-click="main.settings.navbarHeaderColor='scheme-black'; $event.stopPropagation()"></a>
                        </li>
                        <li><a href="javascript:;" class="scheme-greensea"
                               ng-click="main.settings.navbarHeaderColor='scheme-greensea'; $event.stopPropagation()"></a>
                        </li>
                        <li><a href="javascript:;" class="scheme-cyan"
                               ng-click="main.settings.navbarHeaderColor='scheme-cyan'; $event.stopPropagation()"></a>
                        </li>
                        <li><a href="javascript:;" class="scheme-lightred"
                               ng-click="main.settings.navbarHeaderColor='scheme-lightred'; $event.stopPropagation()"></a>
                        </li>
                        <li><a href="javascript:;" class="scheme-light"
                               ng-click="main.settings.navbarHeaderColor='scheme-light'; $event.stopPropagation()"></a>
                        </li>
                        <li class="title">Branding Color:</li>
                        <li><a href="javascript:;" class="scheme-drank"
                               ng-click="main.settings.brandingColor='scheme-default'; $event.stopPropagation()"></a>
                        </li>
                        <li><a href="javascript:;" class="scheme-black"
                               ng-click="main.settings.brandingColor='scheme-black'; $event.stopPropagation()"></a></li>
                        <li><a href="javascript:;" class="scheme-greensea"
                               ng-click="main.settings.brandingColor='scheme-greensea'; $event.stopPropagation()"></a>
                        </li>
                        <li><a href="javascript:;" class="scheme-cyan"
                               ng-click="main.settings.brandingColor='scheme-cyan'; $event.stopPropagation()"></a></li>
                        <li><a href="javascript:;" class="scheme-lightred"
                               ng-click="main.settings.brandingColor='scheme-lightred'; $event.stopPropagation()"></a>
                        </li>
                        <li><a href="javascript:;" class="scheme-light"
                               ng-click="main.settings.brandingColor='scheme-light'; $event.stopPropagation()"></a></li>
                        <li class="title">Sidebar Color:</li>
                        <li><a href="javascript:;" class="scheme-drank"
                               ng-click="main.settings.sidebarColor='scheme-default'; $event.stopPropagation()"></a>
                        </li>
                        <li><a href="javascript:;" class="scheme-black"
                               ng-click="main.settings.sidebarColor='scheme-black'; $event.stopPropagation()"></a></li>
                        <li><a href="javascript:;" class="scheme-greensea"
                               ng-click="main.settings.sidebarColor='scheme-greensea'; $event.stopPropagation()"></a>
                        </li>
                        <li><a href="javascript:;" class="scheme-cyan"
                               ng-click="main.settings.sidebarColor='scheme-cyan'; $event.stopPropagation()"></a></li>
                        <li><a href="javascript:;" class="scheme-lightred"
                               ng-click="main.settings.sidebarColor='scheme-lightred'; $event.stopPropagation()"></a>
                        </li>
                        <li><a href="javascript:;" class="scheme-light"
                               ng-click="main.settings.sidebarColor='scheme-light'; $event.stopPropagation()"></a></li>
                        <li class="title">Active Color:</li>
                        <li><a href="javascript:;" class="scheme-drank"
                               ng-click="main.settings.activeColor='drank-scheme-color'; $event.stopPropagation()"></a>
                        </li>
                        <li><a href="javascript:;" class="scheme-black"
                               ng-click="main.settings.activeColor='black-scheme-color'; $event.stopPropagation()"></a>
                        </li>
                        <li><a href="javascript:;" class="scheme-greensea"
                               ng-click="main.settings.activeColor='default-scheme-color'; $event.stopPropagation()"></a>
                        </li>
                        <li><a href="javascript:;" class="scheme-cyan"
                               ng-click="main.settings.activeColor='cyan-scheme-color'; $event.stopPropagation()"></a>
                        </li>
                        <li><a href="javascript:;" class="scheme-lightred"
                               ng-click="main.settings.activeColor='lightred-scheme-color'; $event.stopPropagation()"></a>
                        </li>
                        <li><a href="javascript:;" class="scheme-light"
                               ng-click="main.settings.activeColor='light-scheme-color'; $event.stopPropagation()"></a>
                        </li>
                    </ul>

                </li>

                <li>
                    <div class="form-group ng-scope">
                        <div class="row">
                            <label class="col-xs-8 control-label">Fixed header</label>
                            <div class="col-xs-4 control-label">
                                <div class="onoffswitch lightred small" ng-click="$event.stopPropagation()">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                                           id="fixed-header" checked="" ng-model="main.settings.headerFixed">
                                    <label class="onoffswitch-label" for="fixed-header">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="form-group ng-scope">
                        <div class="row">
                            <label class="col-xs-8 control-label">Fixed aside</label>
                            <div class="col-xs-4 control-label">
                                <div class="onoffswitch lightred small" ng-click="$event.stopPropagation()">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                                           id="fixed-aside" checked="" ng-model="main.settings.asideFixed">
                                    <label class="onoffswitch-label" for="fixed-aside">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>

    <ul class="nav-right pull-right list-inline">
        <li class="dropdown nav-profile" uib-dropdown>
            <a href class="dropdown-toggle" uib-dropdown-toggle>
                <span>{{ webAuthServiceData.currentUser.first_name + ' ' + webAuthServiceData.currentUser.last_name }} <fa name="angle-down"></fa></span>
            </a>
            <ul class="dropdown-menu animated littleFadeInLeft dropdown-menu-right" uib-dropdown-menu-right role="menu">
                <li><a ui-sref="user.logout"><fa name="sign-out"></fa>Logout</a></li>
            </ul>
        </li>
    </ul>
</header>
