<div class="row" style="margin-top: 30px;">
    <div class="col-md-12">
        <h2>Hello {{ list.current_user.currentUser.username }}, you are "{{ list.current_user.currentUser.current_status | currentStatus }}"</h2>
        <p><a ui-sref="user.logout">Logout</a></p>
    </div>
</div>

<div class="row" style="margin-top: 50px;">
    <div class="col-md-12">
        <h3>Update my current status:</h3>
    </div>
    <div class="col-md-12">
        <select ng-model="list.changeStatusValue" ng-change="list.changeStatus();">
            <option value="" disabled>Select</option>
            <option value="1">Working</option>
            <option value="2">On Vacation</option>
            <option value="3">Business Trip</option>
        </select>
    </div>
</div>

<div class="panel panel-default" style="margin-top: 50px;">
    <div class="panel-heading"><h3>User List</h3></div>
    <div class="panel-body">
        <table datatable="ng" dt-column-defs="list.dtColumnDefs" dt-options="list.dtOptions" class="table table-custom">
            <thead>
            <tr>
                <th>Username</th>
                <th>Current Status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in list.users" ng-class="{'row-red': user.current_status == 2}">
                <td>{{ user.username }}</td>
                <td>{{ user.current_status | currentStatus }}</td>
            </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Filter By: Username</th>
                    <th>Filter By: Current Status</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
