<h2 class="text-light text-greensea" translate>Welcome To MyWorkStatus</h2>
<form name="login_form" class="form-validation mt-20" ng-submit="login.submit()" novalidate>
    <div class="form-group">
        <input type="text" name="username" class="form-control underline-input" placeholder="My Username" ng-model="login.username" required>
    </div>
    <div class="form-group text-left mt-20">
        <button type="submit" class="btn btn-greensea b-0 br-2 mr-5" ng-disabled='login_form.$invalid || login.submitted' translate>Login</button>
    </div>
    <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular class="md-hue-2" ng-show="login.submitted" md-mode="indeterminate"></md-progress-circular>
    </div>
</form>
