{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>This is the backend! <a href="http://localhost:9000/">Go away!</a></h1>
</body>
</html>